@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #02060D;
  min-height: 100vh;
}

header {
  background-color: #1A2026;
  grid-area: header;
}

html {
  font-size: 62.5%;
  font-family: Montserrat;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: Montserrat;
  font-weight: 700;
  width: 100%;
  padding: 10px;
  color: #F2F2F2;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  color: #F2F2F2;
}

.video {
  grid-area: video;
  width: 90%;
}

.video iframe {
  width: 90%;
  margin: 15px;
}

/* clases que se repiten en todos los HTML*/
.album-intro {
  grid-area: album-intro;
  margin: 15px;
  padding: 10px;
  background-color: #1A2026;
  border-radius: 20px;
}

.cover {
  grid-area: cover;
  margin: 15px;
  width: 50%;
}
.cover img {
  margin: 5px;
}

.lista-temas {
  grid-area: lista-temas;
  width: 50%;
  margin: 15px;
  padding: 1px;
  background-color: #02060D;
}

.lista-temas p {
  font-size: 14px;
}

.lista {
  background-color: #02060D;
}

.botonLista {
  width: 200px;
  height: 40px;
  font-size: large;
  background-color: #227CF2;
}

.antecedentes {
  grid-area: antecedentes;
  background-color: #1A2026;
  border-radius: 20px;
  margin: 15px;
}

@media (min-width: 768px) {
  /*768px en adelante*/
  .video {
    grid-area: video;
    width: 90%;
  }
  .video iframe {
    width: 70%;
    margin: 15px;
  }
  nav ul li a {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  /*1024px en adelante*/
  .video {
    grid-area: video;
    width: 80%;
  }
  .video iframe {
    width: 80%;
    margin: 15px;
  }
  nav ul li a {
    font-size: 18px;
  }
  .discos-fotos {
    width: 35%;
    margin: 15px;
    transition: 2s;
  }
}
nav ul {
  display: grid;
  grid-template-columns: 12% 9% 16% 16% 16% 16%;
  justify-content: space-around;
  justify-items: center;
  list-style-type: none;
  font-family: Montserrat;
  align-items: center;
  margin: 5px;
}
nav a {
  text-decoration: none;
  font-size: 10px;
  color: #F2F2F2;
  list-style-type: none;
}

.inicio {
  height: 30px;
  width: 30px;
  border-radius: 60%;
  border: 1px solid #1A2026;
  transition: all 2s;
}

.inicio:hover {
  transform: rotate(720deg);
}

@media (min-width: 768px) {
  .inicio {
    height: 62px;
    width: 62px;
    border-radius: 60%;
    border: 1px solid #1A2026;
    transition: all 2s;
  }
  .inicio:hover {
    transform: rotate(720deg);
  }
}
@media (min-width: 1024px) {
  .inicio {
    height: 62px;
    width: 62px;
    border-radius: 60%;
    border: 1px solid #1A2026;
    transition: all 2s;
  }
  .inicio:hover {
    transform: rotate(720deg);
  }
}
@media (min-width: 1200px) {
  .inicio {
    height: 62px;
    width: 62px;
    border-radius: 60%;
    border: 1px solid #1A2026;
    transition: all 2s;
  }
  .inicio:hover {
    transform: rotate(720deg);
  }
}
.redes {
  grid-area: redes;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #1A2026;
  margin-top: 200px;
}
.redes svg {
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  color: #227CF2;
}

/*mobile first 0px-500px*/
.intro {
  grid-area: intro;
  background-color: #1A2026;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  margin-top: 100px;
}

.intro-formacion {
  grid-area: intro-formacion;
  background-color: #1A2026;
  border-radius: 20px;
  margin: 60px;
  padding: 10px;
  text-align: center;
}

.discos {
  grid-area: discos;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 15px;
  background-color: #1A2026;
  border-radius: 20px;
  text-align: center;
  margin-top: 60px;
}

.discos-fotos {
  width: 40%;
  margin: 15px;
  transition: 2s;
}

.discos-fotos:hover {
  transform: scale(1.2);
}

.formacion {
  display: grid;
  grid-area: formacion;
  justify-content: center;
  align-items: center;
  background-color: #1A2026;
  gap: 20px;
  border-radius: 20px;
  padding: 1px;
  margin: 15px;
}

.formacion-fotos {
  transition-property: all;
  transition-duration: 2s;
}

.formacion-fotos img:hover {
  transform: scale(1.2);
}

.main-grid {
  display: grid;
  grid-template-areas: "intro" "intro" "discos" "intro-formacion" "formacion";
}

@media (min-width: 768px) {
  /*768px en adelante*/
  .formacion {
    display: grid;
    grid-area: formacion;
    justify-content: center;
    align-items: center;
    background-color: #1A2026;
    gap: 20px;
    border-radius: 20px;
    padding: 1px;
    margin: 15px;
  }
  .main-grid {
    display: grid;
    grid-template-areas: "intro          intro" "intro          intro" "discos         discos" "intro-formacion intro-formacion" "formacion      formacion";
  }
}
@media (min-width: 1024px) {
  /*1024px en adelante*/
  .formacion {
    display: grid;
    grid-area: formacion;
    justify-content: center;
    align-items: center;
    background-color: #1A2026;
    gap: 20px;
    border-radius: 20px;
    padding: 1px;
    margin: 15px;
  }
  .formacion-fotos img {
    width: 100%;
  }
  .main-grid {
    display: grid;
    grid-template-areas: "intro          intro          intro" "intro          intro          intro" "discos         discos         discos" "intro-formacion intro-formacion intro-formacion" "formacion      formacion      formacion";
  }
}
@media (min-width: 1200px) {
  /*1200px en adelante*/
  .formacion {
    display: grid;
    grid-area: formacion;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    background-color: #1A2026;
    gap: 20px;
    border-radius: 20px;
    padding: 1px;
    margin: 15px;
  }
  .formacion-fotos img {
    width: 100%;
    margin: 15px;
  }
  .main-grid {
    display: grid;
    grid-template-areas: "intro          intro          intro" "intro          intro          intro" "discos         discos         discos" "intro-formacion intro-formacion intro-formacion" "formacion      formacion      formacion";
  }
}
/*mobile first 0px-500px*/
.debut {
  background-color: #1A2026;
  grid-area: debut;
  border-radius: 20px;
  margin: 15px;
}

.album-seru {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "album-intro" "cover" "lista-temas" "video" "antecedentes" "debut";
}

@media (min-width: 768px) {
  /*768px en adelante*/
  .album-seru {
    display: grid;
    grid-template-areas: "album-intro    album-intro" "cover          cover" "lista-temas    lista-temas" "video          video" "antecedentes   antecedentes" "debut          debut";
  }
}
@media (min-width: 1024px) {
  /*1024px en adelante*/
  .album-seru {
    display: grid;
    grid-template-areas: "album-intro    album-intro     album-intro" "cover          cover           cover" "lista-temas    lista-temas     lista-temas" "video          video           video" "antecedentes   antecedentes    antecedentes" "debut          debut           debut";
  }
}
@media (min-width: 1200px) {
  /*1200px en adelante*/
  .album-seru {
    display: grid;
    grid-template-areas: "album-intro    album-intro     album-intro" "cover          cover           cover" "lista-temas    lista-temas     lista-temas" "video          video           video" "antecedentes   antecedentes    antecedentes" "debut          debut           debut";
  }
}
/*mobile first 0px-500px*/
.lanzamiento {
  grid-area: lanzamiento;
  background-color: #1A2026;
  border-radius: 20px;
  margin: 15px;
}

.album-grasa {
  display: grid;
  grid-template-areas: "album-intro" "cover" "lista-temas" "video" "antecedentes" "lanzamiento";
}

@media (min-width: 768px) {
  /*768px en adelante*/
  .album-grasa {
    display: grid;
    grid-template-areas: "album-intro    album-intro" "cover          cover" "lista-temas    lista-temas" "video          video" "antecedentes   antecedentes" "lanzamiento    lanzamiento";
  }
}
@media (min-width: 1024px) {
  /*1024px en adelante*/
  .album-grasa {
    display: grid;
    grid-template-areas: "album-intro    album-intro     album-intro" "cover          cover           cover" "lista-temas    lista-temas     lista-temas" "video          video           video" "antecedentes   antecedentes    antecedentes" "lanzamiento    lanzamiento     lanzamiento";
  }
}
@media (min-width: 1200px) {
  /*1200px en adelante*/
  .album-grasa {
    display: grid;
    grid-template-areas: "album-intro    album-intro     album-intro" "cover          cover           cover" "lista-temas    lista-temas     lista-temas" "video          video           video" "antecedentes   antecedentes    antecedentes" "lanzamiento    lanzamiento     lanzamiento";
  }
}
.contexto {
  grid-area: contexto;
  background-color: #1A2026;
  border-radius: 20px;
  margin: 15px;
}

.presentacion {
  grid-area: presentacion;
  background-color: #1A2026;
  border-radius: 20px;
  margin: 15px;
}

.album-bicicleta {
  display: grid;
  grid-template-areas: "album-intro" "cover" "lista-temas" "video" "antecedentes" "contexto" "presentacion";
}

@media (min-width: 768px) {
  /*768px en adelante*/
  .album-bicicleta {
    display: grid;
    grid-template-areas: "album-intro    album-intro" "cover          cover" "lista-temas    lista-temas" "video          video" "antecedentes   antecedentes" "contexto       contexto" "presentacion   presentacion" "redes          redes";
  }
}
@media (min-width: 1024px) {
  /*1024px en adelante*/
  .album-bicicleta {
    display: grid;
    grid-template-areas: "album-intro    album-intro    album-intro" "cover          cover          cover" "lista-temas    lista-temas    lista-temas" "video          video          video" "antecedentes   antecedentes   antecedentes" "contexto       contexto       contexto" "presentacion   presentacion   presentacion";
  }
}
@media (min-width: 1200px) {
  /*1200px en adelante*/
  .album-bicicleta {
    display: grid;
    grid-template-areas: "album-intro    album-intro    album-intro" "cover          cover          cover" "lista-temas    lista-temas    lista-temas" "video          video          video" "antecedentes   antecedentes   antecedentes" "contexto       contexto       contexto" "presentacion   presentacion   presentacion";
  }
}
/*mobile first 0px-500px*/
.critica {
  grid-area: critica;
  background-color: #1A2026;
  border-radius: 20px;
  margin: 15px;
}

.album-peperina {
  display: grid;
  grid-template-areas: "album-intro" "cover" "lista-temas" "video" "antecedentes" "contexto" "presentacion" "critica";
}

@media (min-width: 768px) {
  /*768px en adelante*/
  .album-peperina {
    display: grid;
    grid-template-areas: "album-intro    album-intro" "cover          cover" "lista-temas    lista-temas" "video          video" "antecedentes   antecedentes" "contexto       contexto" "presentacion   presentacion" "critica        critica" "redes          redes";
  }
}
@media (min-width: 1024px) {
  /*1024px en adelante*/
  .album-peperina {
    display: grid;
    grid-template-areas: "album-intro    album-intro    album-intro" "cover          cover          cover" "lista-temas    lista-temas    lista-temas" "video          video          video" "antecedentes   antecedentes   antecedentes" "contexto       contexto       contexto" "presentacion   presentacion   presentacion" "critica        critica        critica";
  }
}
@media (min-width: 1200px) {
  /*1200px en adelante*/
  .album-peperina {
    display: grid;
    grid-template-areas: "album-intro    album-intro    album-intro" "cover          cover          cover" "lista-temas    lista-temas    lista-temas" "video          video          video" "antecedentes   antecedentes   antecedentes" "contexto       contexto       contexto" "presentacion   presentacion   presentacion" "critica        critica        critica";
  }
}
/*mobile first 0px-500px*/
.miembros {
  display: grid;
  grid-template-areas: "charly" "pedrito" "lebon" "moro";
}

.charly {
  grid-area: charly;
  margin: 20px;
  padding: 20px;
  background-color: #1A2026;
  border-radius: 20px;
}

.pedrito {
  grid-area: pedrito;
  margin: 20px;
  padding: 20px;
  background-color: #1A2026;
  border-radius: 20px;
}

.lebon {
  grid-area: lebon;
  margin: 20px;
  padding: 20px;
  background-color: #1A2026;
  border-radius: 20px;
}

.moro {
  grid-area: moro;
  margin: 20px;
  padding: 20px;
  background-color: #1A2026;
  border-radius: 20px;
}

.miembros div img {
  width: 70%;
  margin: 15px;
}

@media (min-width: 768px) {
  /*768px en adelante*/
  .miembros {
    display: grid;
    grid-template-areas: "charly     charly" "pedrito    pedrito" "lebon      lebon" "moro       moro";
  }
}
@media (min-width: 1024px) {
  /*1024px en adelante*/
  .miembros {
    display: grid;
    grid-template-areas: "charly     charly      charly" "pedrito    pedrito     pedrito" "lebon      lebon       lebon" "moro       moro        moro";
  }
  .miembros div img {
    width: 50%;
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  /*1200px en adelante*/
  /* Grids para html Miembros */
  .miembros {
    display: grid;
    grid-template-areas: "charly     charly      charly" "pedrito    pedrito     pedrito" "lebon      lebon       lebon" "moro       moro        moro";
  }
  .miembros div img {
    width: 30%;
    margin: 15px;
  }
  .video {
    grid-area: video;
    width: 55%;
  }
  .video .video iframe {
    width: 55%;
    margin: 15px;
  }
  .cover {
    grid-area: cover;
    margin: 15px;
    padding: 15px;
    width: 30%;
  }
  .discos-fotos {
    width: 20%;
    margin: 15px;
    transition: 2s;
  }
}/*# sourceMappingURL=estilos.css.map */