nav{
   
    ul{
        display: grid;
        grid-template-columns: 12% 9% 16% 16% 16% 16%;
        justify-content: space-around;
        justify-items: center;
        list-style-type: none;
        font-family: Montserrat;
        align-items: center;
        margin: 5px;

    }
        a {
            text-decoration: none;
            font-size: 10px;
            color: $colorFont;
            list-style-type: none;
        }
}

.inicio{
    height: 30px;
    width: 30px;
    border-radius: 60%;
    border: 1px solid $colorDiv;
    transition: all 2s;
}

.inicio:hover{
    transform: rotate(720deg);
}

@media(min-width:768px){

    .inicio{
        height: 62px;
        width: 62px;
        border-radius: 60%;
        border: 1px solid $colorDiv;
        transition: all 2s;
    }
    
    .inicio:hover{
        transform: rotate(720deg);
    }

    nav{
    
        ul{

            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            justify-content: space-around;
            justify-items: center;
            list-style-type: none;
            font-family: Montserrat;
            align-items: center;
            margin: 5px;
    

            a {
                text-decoration: none;
                font-size: 12px;
                color: $colorFont;
                list-style-type: none;
            }
        }
    }

}


@media(min-width:1024px){

    .inicio{
        height: 62px;
        width: 62px;
        border-radius: 60%;
        border: 1px solid $colorDiv;
        transition: all 2s;
    }
    
    .inicio:hover{
        transform: rotate(720deg);
    }

    nav{
    
        ul{

            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            justify-content: space-around;
            justify-items: center;
            list-style-type: none;
            font-family: Montserrat;
            align-items: center;
            margin: 5px;
    

            a {
                text-decoration: none;
                font-size: 12px;
                color: $colorFont;
                list-style-type: none;
            }
        }
    }

}

@media(min-width:1200px){

    .inicio{
        height: 62px;
        width: 62px;
        border-radius: 60%;
        border: 1px solid $colorDiv;
        transition: all 2s;
    }
    
    .inicio:hover{
        transform: rotate(720deg);
    }

    nav{
    
        ul{

            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            justify-content: space-around;
            justify-items: center;
            list-style-type: none;
            font-family: Montserrat;
            align-items: center;
            margin: 5px;
    

            a {
                text-decoration: none;
                font-size: 12px;
                color: $colorFont;
                list-style-type: none;
            }
        }
    }

}