.redes{
    grid-area: redes;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: $colorDiv;
    margin-top: 200px;

    svg {
        width: 35px;
        height: 35px;
        margin: 5px;
        padding: 5px;
        color: #227CF2
    }
}