* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $colorFondo;
    min-height: 100vh;

}

header {
    background-color: $colorDiv;
    grid-area: header;
     
}

html {
    font-size: 62.5%;
    font-family: Montserrat;
}

img {
    width: 100%;

}

h1,
h2,
h3 {
    font-family: Montserrat;
    font-weight: 700;
    width: 100%;
    padding: 10px;
    color: $colorFont;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    color: $colorFont;
}

.video {
    grid-area: video;
    width: 90%;
}

.video iframe {
    width: 90%;
    margin: 15px;
}

/* clases que se repiten en todos los HTML*/

.album-intro {
    grid-area: album-intro;
    margin: 15px;
    padding: 10px;
    background-color: $colorDiv;
    border-radius: 20px;
}

.cover {
    grid-area: cover;
    margin: 10px;
    width: 50%;
}

.lista-temas {
    grid-area: lista-temas;
    width: 50%;
    margin: 15px;
    padding: 1px;
}

.lista-temas p {
    font-size: 14px;
}

.antecedentes {
    grid-area: antecedentes;
    background-color: $colorDiv;
    border-radius: 20px;
    margin: 15px;
}

@media(min-width:768px) {
    /*768px en adelante*/
    
    .video {
        grid-area: video;
        width: 90%; 
    }

    .video iframe {
        width: 70%;
        margin: 15px;
    }

    nav ul li a {
        font-size: 15px;
    }
}


@media(min-width:1024px) {
    /*1024px en adelante*/

    .video {
        grid-area: video;
        width: 80%;
    }

    .video iframe {
        width: 80%;
        margin: 15px;
    }

    nav ul li a {
        font-size: 18px;
    }

    .discos-fotos {
        width: 35%;
        margin: 15px;
        transition: 2s;
    }
}