/*mobile first 0px-500px*/

.intro {
    grid-area: intro;
    background-color: #1A2026;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    margin-top: 100px;
}

.intro-formacion {
    grid-area: intro-formacion;
    background-color: #1A2026;
    border-radius: 20px;
    margin: 60px;
    padding: 10px;
    text-align: center;
}

.discos {
    grid-area: discos;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    background-color: #1A2026;
    border-radius: 20px;
    text-align: center;
    margin-top: 60px;
}

.discos-fotos {
    width: 40%;
    margin: 15px;
    transition: 2s;
}

.discos-fotos:hover {
    transform: scale(1.2);
}

.formacion {
    display: grid;
    grid-area: formacion;
    justify-content: center;
    align-items: center;
    background-color: #1A2026;
    gap: 20px;
    border-radius: 20px;
    padding: 1px;
    margin: 15px;
}

.formacion-fotos {
    transition-property: all;
    transition-duration: 2s;
}

.formacion-fotos img:hover {
    transform: scale(1.2);
}

.main-grid {
    display: grid;
    grid-template-areas:
        "intro"
        "intro"
        "discos"
        "intro-formacion"
        "formacion";
}


@media(min-width:768px) {

    /*768px en adelante*/
    .formacion {
        display: grid;
        grid-area: formacion;
        justify-content: center;
        align-items: center;
        background-color: #1A2026;
        gap: 20px;
        border-radius: 20px;
        padding: 1px;
        margin: 15px;
    }

    .main-grid {
        display: grid;
        grid-template-areas:
            "intro          intro"
            "intro          intro"
            "discos         discos"
            "intro-formacion intro-formacion"
            "formacion      formacion";
    }
}

@media(min-width:1024px) {
    /*1024px en adelante*/

    .formacion {
        display: grid;
        grid-area: formacion;
        justify-content: center;
        align-items: center;
        background-color: #1A2026;
        gap: 20px;
        border-radius: 20px;
        padding: 1px;
        margin: 15px;
    }

    .formacion-fotos img {
        width: 100%;
    }

    .main-grid {
        display: grid;
        grid-template-areas:
            "intro          intro          intro"
            "intro          intro          intro"
            "discos         discos         discos"
            "intro-formacion intro-formacion intro-formacion"
            "formacion      formacion      formacion";
    }
}

@media(min-width:1200px) {
    /*1200px en adelante*/

    .formacion {
        display: grid;
        grid-area: formacion;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        background-color: #1A2026;
        gap: 20px;
        border-radius: 20px;
        padding: 1px;
        margin: 15px;
    }

    .formacion-fotos img {
        width: 100%;
        margin: 15px;

    }

    .main-grid {
        display: grid;
        grid-template-areas:
            "intro          intro          intro"
            "intro          intro          intro"
            "discos         discos         discos"
            "intro-formacion intro-formacion intro-formacion"
            "formacion      formacion      formacion";
    }
}
