/*mobile first 0px-500px*/

.miembros {
    display: grid;
    grid-template-areas:
        "charly"
        "pedrito"
        "lebon"
        "moro";
}

.charly {
    grid-area: charly;
    margin: 20px;
    padding: 20px;
    background-color: #1A2026;
    border-radius: 20px;
}

.pedrito {
    grid-area: pedrito;
    margin: 20px;
    padding: 20px;
    background-color: #1A2026;
    border-radius: 20px;
}

.lebon {
    grid-area: lebon;
    margin: 20px;
    padding: 20px;
    background-color: #1A2026;
    border-radius: 20px;
}

.moro {
    grid-area: moro;
    margin: 20px;
    padding: 20px;
    background-color: #1A2026;
    border-radius: 20px;
}

.miembros div img {
    width: 70%;
    margin: 15px;
}




@media(min-width:768px) {
    /*768px en adelante*/

    .miembros {
        display: grid;
        grid-template-areas:
            "charly     charly"
            "pedrito    pedrito"
            "lebon      lebon"
            "moro       moro";
    }
}

@media(min-width:1024px) {

    /*1024px en adelante*/
    .miembros {
        display: grid;
        grid-template-areas:
            "charly     charly      charly"
            "pedrito    pedrito     pedrito"
            "lebon      lebon       lebon"
            "moro       moro        moro";
    }

    .miembros div img {
        width: 50%;
        margin: 15px;
    }
}

@media(min-width:1200px) {
    /*1200px en adelante*/

    /* Grids para html Miembros */
    .miembros {
        display: grid;
        grid-template-areas:
            "charly     charly      charly"
            "pedrito    pedrito     pedrito"
            "lebon      lebon       lebon"
            "moro       moro        moro";
    }

    .miembros div img {
        width: 30%;
        margin: 15px;
    }

    .video {
        grid-area: video;
        width: 55%;

        .video iframe {
            width: 55%;
            margin: 15px;
        }
    }

    .cover {
        grid-area: cover;
        margin: 15px;
        padding: 15px;
        width: 30%;
    }

    .discos-fotos {
        width: 20%;
        margin: 15px;
        transition: 2s;
    }

}