/*mobile first 0px-500px*/

.debut {
    background-color: $colorDiv;
    grid-area: debut;
    border-radius: 20px;
    margin: 15px;
}


.album-seru {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "album-intro"
        "cover"
        "lista-temas"
        "video"
        "antecedentes"
        "debut";
}

@media(min-width:768px) {
    /*768px en adelante*/

    .album-seru {
        display: grid;
        grid-template-areas:
            "album-intro    album-intro"
            "cover          cover"
            "lista-temas    lista-temas"
            "video          video"
            "antecedentes   antecedentes"
            "debut          debut";
    }

}

@media(min-width:1024px) {
    /*1024px en adelante*/

    .album-seru {
        display: grid;
        grid-template-areas:
            "album-intro    album-intro     album-intro"
            "cover          cover           cover"
            "lista-temas    lista-temas     lista-temas"
            "video          video           video"
            "antecedentes   antecedentes    antecedentes"
            "debut          debut           debut";
    }

}

@media(min-width:1200px) {
    /*1200px en adelante*/

    .album-seru {
        display: grid;
        grid-template-areas:
            "album-intro    album-intro     album-intro"
            "cover          cover           cover"
            "lista-temas    lista-temas     lista-temas"
            "video          video           video"
            "antecedentes   antecedentes    antecedentes"
            "debut          debut           debut";
    }
}